.news-title {
	font-family: $font-title;
    font-size: 45px;
}
.footer-title {
	font-family: $font-title;
    font-size: 45px;
}
// .title {
//     font-family: $font-title;
//     font-size: 45px;
//     font-style: normal;
//     font-weight: 400;
// }
p {
	font-family: $font-primary;
	font-size: 14px;
}