html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  line-height: 100%; }

b {
  font-weight: bold; }

p {
  font-size: 14px;
  line-height: 23px; }

img {
  max-height: 100%;
  max-width: 100%; }

a {
  text-decoration: none;
  color: #3d3d3d; }

a:hover {
  color: #67c5dd;
  cursor: pointer; }

.banner {
  height: 223px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-image: url("../images/header-watercolor-left.png"), url("../images/header-watercolor-right.png");
  background-repeat: no-repeat,no-repeat;
  background-position: left top,right top; }

.navigation {
  display: block;
  border: 1px double #f0f0f0;
  text-align: center;
  padding: 12px 0 0;
  width: 100%;
  text-transform: uppercase; }
  .navigation .menu-item {
    display: inline-block;
    margin: 10px;
    position: relative; }
    .navigation .menu-item a {
      padding: 5px 25px; }
    .navigation .menu-item:last-child:after {
      content: ''; }
  .navigation .menu-item:after {
    content: '/';
    color: #b6b4b4;
    top: 3px;
    position: absolute;
    right: -5px;
    font-weight: 700;
    font-size: 13px; }

.banner1 {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none; }
  .banner1 img {
    width: 100%; }
