.footer-content {
  // display: block;
  // margin-top: 75px;
  // min-height: 300px;
  float: left;
  height: 223px;
}
.footer-content {
  background-image: url("../images/footer-top-overlay.png"), 
  url("../images/footer-bottom-right.png"),
  url("../images/footer-bottom-bg.jpg");
  background-repeat: no-repeat, repeat-x;
  background-position: left top,right bottom,left top;
  // background-size: 3000px 48px,1500px 422px,auto 100%;
  // background-clip: border-box,border-box,padding-box;
  // background-origin: border-box,border-box,padding-box;
  // border-top: 10px solid transparent;
  // margin-top: 63px;
}