.banner {
  height: 223px;
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  background-image: url("../images/header-watercolor-left.png"), url("../images/header-watercolor-right.png");
  background-repeat: no-repeat,no-repeat;
  background-position: left top,right top;
}
.navigation {
  display: block;
  border: 3px double #f0f0f0;
  text-align: center;
  margin-bottom: 40px;
  padding: 12px 0 0;
  width: 100%;
  text-transform: uppercase;
  color: #333333;
  font-family: $font-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 2px;
  .main-menu {
    line-height: 1.8em;
  }
  .menu-item {
    display: inline-block;
    letter-spacing: 2px;
    padding-bottom: 10px;
    position: relative;
    a {
      padding: 5px 25px;
      font-size: 14px;
    }
    &:last-child:after {
      content: '';
    }
  }
  .menu-item:after { 
      content: '/';
      color: map-get($color, border-color);
      top: 3px;
      position: absolute;
      right: -5px;
      font-weight: 700;
      font-size: 13px;
  }
}
